*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Courier New, monospace, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-primary: #e7fff9;
  --color-dark: #161616;
}
