.container {
  padding: 23.2rem 12.7rem 4.3rem 19.6rem;
  position: relative;
  min-height: 100vh;
  overflow-x: auto;
}

.logoBig {
  position: absolute;
  left: max(-13rem, -6.54%);
  top: max(-13.99%, -12rem);
  color: var(--color-primary);
}

.jurele {
  position: relative;
  margin: 0;
}

.logoSmall {
  color: var(--color-dark);
  width: 19.7rem;
  height: 15.5rem;
  position: absolute;
  left: 5.5rem;
  bottom: 10.1rem;
}

.content {
  position: relative;
  display: flex;
  align-items: flex-start;
  line-height: 2;
  gap: 4rem;
}

.columnFirst {
  padding-top: 31.7rem;
}

.h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.aboutText {
  font-size: 1.6rem;
  min-width: 62rem;
  margin: 1.1rem 0 0;
}

.aboutSelfie {
  width: 52.1rem;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
}

.links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.links li:not(:last-child) a::after {
  content: "/";
  margin: auto 2ch;
}

.links {
  margin-top: 3.8rem;
}
