.page {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  overflow-x: hidden;
}

.container {
  padding: 0;
  position: relative;
  display: flex;
  min-height: 100vh;
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
  padding: 0 12.7rem 0 19.6rem;
  padding: 0 rfs(12.7rem) 0 rfs(19.6rem);
  grid-column: 2 / 3;
}

.logoBig {
  position: absolute;
  left: max(-13rem, -7.36%);
  right: max(-8.4rem, -4.87%);
  top: max(-12rem, -6.9%);
  color: var(--color-primary);
}

.jurele {
  position: relative;
  margin: 0;
}

.logoSmall {
  color: var(--color-dark);
  width: 19.7rem;
  width: rfs(19.7rem);
  height: 15.5rem;
  height: rfs(15.5rem);
  position: absolute;
  left: rfs(5.5rem);
  bottom: rfs(10.1rem);
}

.content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 2;
  gap: 10rem;
  gap: rfs(26.2rem);

  @media (--tablet-down) {
    flex-direction: column-reverse;
    gap: 4rem;
    justify-content: flex-start;
    padding-top: 15vmin;
  }
}

.columnFirst {
  margin: 44rem 0 0 0;
  margin: 42vh 0 0 0;
  margin: rfs(60rem) 0 0 0;

  @media (--tablet-down) {
    margin: 0;
  }
}

.columnSecond {
  margin: 23.2rem 0 auto;
  margin: 22vh 0 0;
  margin: rfs(23.2rem) 0 auto;

  @media (--tablet-down) {
    margin: 0;
  }
}

.h1 {
  font-size: 1.8rem;
  font-size: rfs(1.8rem);
  font-weight: 700;
  margin: 0;
}

.aboutText {
  font-size: 1.6rem;
  /* min-width: 40rem;
  max-width: 62rem; */
  /* width: rfs(62.2rem); */
  margin: 1.1rem 0 0;
}

.aboutSelfie {
  width: 52.1rem;
  width: rfs(52.1rem);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
}

.links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.links li:not(:last-child) a::after {
  content: "/";
  margin: auto 2ch;
}

.links {
  margin-top: 3.8rem;
}

.links + .links {
  margin-top: 13.4rem;
}
